.banner {
  width: 100px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}
.twitter-timeline {
  float: none;
  width: 600px;
  height: 300px;
  overflow: hidden;
}
.button {
  height: 40px;
  width: calc(height x 1.6);
  border-radius: 10px;

  margin-right: 10px;
}
button {
  display: block; 
  float: left;
  width: 10%;
  font-size: 10px;
  padding: 2px;
  margin-right: 10px;
}
.icon {
  float:left;
  width: 80px;
  height: 80px;
  border-color: antiquewhite;
  border-width: 5px;
  margin-right: 20px;
}

.page-title span{
  color: goldenrod;
}
.insite span {
  display: inline-block;
  padding: 20px 10px;
  color: brown;
}
.resume-category span{
  display: inline-block;
  padding: 20px 10px;
  margin-right: 20x;
  border-style: dashed;
  border-color: black;
}