* {
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: auto;
}

@font-face {
  font-family: my_header-font;
  src: url("fonts/Roboto.woff2") format("woff2"),
    url("fonts/Roboto.woff") format("woff"),
    url("fonts/Roboto.ttf") format("truetype");
}

html,
body {
  /* advised to do this by SMACSS by Jonathan Snook*/
  /*"Some users may define their own background as something other than white."*/
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

body {
  /* margin to account for scroll wheel on side of site - look into removing that*/
  background: purple;
  position: relative;
  z-index: 0;
  /* margin: top right bottom left*/
}

h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 125px;
}

img .small {
  height: 50px;
}

.smallframe {
  height: 150px;
}

a.underliner {
  display: inline-block;
  text-decoration: none;
}

a.underliner::after {
  content: "";

  width: 0px;
  height: 0.05em;
  display: block;
  background-color: #a8c5f2;
  transition: 300ms;
}

a.underliner:hover::after {
  width: 100%;
}

ul {
  list-style: none;
}

/* General browser adaptable OOCSS setup for header & nav*/
header {
  background-attachment: fixed !important;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: 0;
  z-index: 2;
}

header h1,
header p {
  background: none;
  width: fit-content;
  position: sticky;
  top: 0;
  text-shadow: 0.5px 0.5px 5px #fff, 0 0 0.2em #d1e4f4, 0 0 0em #ebddd2;
  z-index: 3;
}

header h1 {
  font-weight: 100;
}

header p {
  font-weight: 300;
}

header h1:hover,
header p:hover {
  text-shadow: none;
}

nav {
  background: rgb(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  z-index: 9;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}

nav ul li {
  position: relative;
  display: inline-block;
  color: #fff;
  border-radius: calc(1px + 0.1vw);
  opacity: 1 !important;
  font-weight: 300;
  overflow: hidden;
  text-shadow: none;
}

nav ul li:hover {
  background: url(./images/header-nav/reflective-water-ripples-dark-blue-hd-opaque.webp); /*blue/gray: #7a8aa3 , pinkish white: #c6bcbb */
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 0.1px black, 0 0 0.6vw #a8c5f2, 0 0 0.6vw #fff;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.5s;
}

/* big fixed attachment attention grabber for main page only */
header.index {
  background: url(./images/header-nav/magical-ball-lone-mountain-sunset-reflective-water-big3.webp)
    no-repeat top;
  /* dark blue: #182837 blue:#6f7c8d , lightblue: #d1e4f4 , pink: #ddb9b9 , light grey: #cbccce , cloud: #ebddd2, light orange: #dea369 , orange #b05a19 , dark orange: #702c0b , nearly white #ffd8a7*/
  background-size: 162vw; /* 2445px;*/
  height: 45vw;
  text-align: center;
}

.sticky_parent.index.h1 {
  padding: 15vw 0 0;
  height: calc(-26px + 25.3vw);
}

.sticky_parent.index.p {
  padding: calc(12px + 0.2vw) 0 6.5vw;
}

header.index h1 {
  /* margin: top right bottom left*/
  letter-spacing: 2px;
  font-size: 5vw;
  left: 28%;
}

header.index p {
  margin: -9vw 0 0;
  letter-spacing: 0.7vw;
  font-size: 1.15vw;
  left: 33.7%;
  top: 5.5vw;
}

nav.index {
  /* margin: 34vw 0; */
  margin-top: calc(-20px + -2.3vw);
}

nav.index ul {
  height: calc(20px + 2.3vw);
}

nav.index ul li {
  padding: calc(2px + 0.6vw) 2vw;
  margin: calc(3px + 0.12vw) 0.8vw 0;
  font-size: calc(12px + 0.3vw);
}

/* slim display for title of the subpage and some brief description or quote */

header.page {
  background: url(./images/header-nav/left-corner-mountain-widescreen-sunset-pink-clouds-reflective-water.webp)
    no-repeat top;
  background-size: 100vw;
  height: 20vw;
  text-indent: 16vw;
}

.sticky_parent.page.h1 {
  padding: 5.5vw 0 0vw;
  height: calc(-3px + 10.9vw);
}

.sticky_parent.page.p {
  padding: 0.5vw 0 1vw;
}

header.page h1 {
  /* margin: top right bottom left*/
  font-size: 3.7vw;
}

header.page p {
  margin: -3.8vw 0 0;
  top: 3.8vw;
  font-size: 0.9vw;
  letter-spacing: 0.35vw;
}

nav.page {
  margin-top: -3vw;
  margin-top: calc(-10px + -2.2vw);
}

nav.page ul {
  height: calc(10px + 2.2vw);
}

nav.page ul li {
  padding: calc(0.5px + 0.6vw) 2vw;
  margin: calc(3.5px + 0.15vw) 0.8vw 0;
  font-size: calc(5px + 0.7vw);
}

/* below header and nav goes here!!! */
main {
  background: #ffffff;
  z-index: 3;
}

main.page {
  background-image: linear-gradient(#d1e4f4, #336195);
  position: relative;
  z-index: 3;
  min-width: 320px;
}
.bg-pillar {
  background-image: url("./images/ankle/pillar\ trunk\ element\ blog\ page3.webp");
  background-attachment: fixed;
  background-size: cover;
}

.word-page {
  width: 8.5in;
  height: fit-content;
  margin: 0 auto;
  padding: 1in;
  background: #ffffff;
  border: 1px solid #c6c6c6;
}

.mission-statements {
}

main .container {
}

.media-object {
  display: inline-block;
  position: relative;
  width: 50vw;
  margin: 40px 25vw;
  padding: 40px 0;
  text-align: left;
  border: 1px solid black;
  background-color: white;
}

.mission-statements img {
  margin: 0 4vw;
  /*height: calc(89px + 6vw);*/
  height: 191px;
  width: 117px;
  float: left;
}

.mission-statements p,
.mission-statements h2 {
  float: left;
  width: 520px;
  margin-bottom: 20px;
  padding: 0 20px;
  line-height: 16px;
}

/*FILTERS EXPERIMENT*/
input[type="radio"] {
  position: absolute;

  left: -9999px;
}

.blog-posts h2 {
  text-align: center;
  position: relative;
  top: 30px;
  margin-bottom: 70px;
}

.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  border: 1px solid transparent;
}

.filters label:hover {
  border: 1px solid black;
}

.posts {
  position: relative;
  list-style: none;
  text-align: center;
  word-spacing: 1vw;
  padding-bottom: 100px;
}

.posts .post {
  background: #fafafa;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 2vw 1vw 0 1vw;
  height: fit-content;
  width: 300px;
  word-spacing: normal;
}

.posts h3 {
  font-size: 1.1rem;
}

.posts h3:hover {
  text-decoration: underline;
  text-decoration-color: #899db8;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.85rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  border: 1px solid white;
}

[value="All"]:checked ~ .filters [for="All"],
[value="webdev"]:checked ~ .filters [for="webdev"],
[value="gamedev"]:checked ~ .filters [for="gamedev"],
[value="research"]:checked ~ .filters [for="research"],
[value="blog"]:checked ~ .filters [for="blog"],
[value="art"]:checked ~ .filters [for="art"],
[value="ai"]:checked ~ .filters [for="ai"] {
  border: 1px solid black;
}

[value="All"]:checked ~ .posts [data-category] {
  display: inline-block;
}

[value="webdev"]:checked ~ .posts .post:not([data-category~="webdev"]),
[value="gamedev"]:checked ~ .posts .post:not([data-category~="gamedev"]),
[value="research"]:checked ~ .posts .post:not([data-category~="research"]),
[value="blog"]:checked ~ .posts .post:not([data-category~="blog"]),
[value="art"]:checked ~ .posts .post:not([data-category~="art"]),
[value="ai"]:checked ~ .posts .post:not([data-category~="ai"]) {
  display: none;
}

/* BLOG POST NEEDS UPDATE*/

.introduction {
  display: inline-block;
  border: none !important;
  background: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.section-head {
  display: inline-block;
  border: none !important;
  background: none !important;
  margin: 0px !important;
  padding: 0px !important;
  z-index: 4;
}

.list-of-tags {
  float: right !important;
  height: 0px;
}

.list-of-tags_visible {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 0px;
}
.list-of-tags_visible li {
  display: inline-block;
  overflow-block: wrap;
  text-align: right;
  background-image: url(./images/header-nav/reflective\ water.webp);
  width: fit-content;
  height: 20px !important;
  color: black;
  padding: 9.7px 13px;
  margin: 0px;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px black solid;
  box-shadow: 2px 2px 1px #496789;
  z-index: 4;
}

.list-of-tags_visible li:hover {
  background-image: url(./images/header-nav/button.webp);
  color: white;
  text-shadow: 0.5px 0.5px 5px #ddb9b9, 0 0 0.2em white, 0 0 0em white;
  background-size: cover;
}

.blog-post {
  margin: -100px auto;
  padding: 100px auto;
  width: 900px;
  font-weight: 100;
  text-align: left;
  position: relative;
  top: 100px;
}

.blog-post section {
  width: inherit;
  border-radius: 5px;
  margin: 100px 50px 0px 0px;
  padding: 3vw;
  background-color: white;
}

.blog-post .btn {
  border: 1px black solid;
  box-shadow: 2px 2px 1px #496789;
  font-size: x-large;
  color: black;
  padding: 5px 20px;
  margin: 0px;
}

.blog-post .btn:hover {
  color: white;
  text-shadow: 0.5px 0.5px 5px #ddb9b9, 0 0 0.2em white, 0 0 0em white;
}

.blog-post h2 {
  position: relative;
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  margin-top: 40px;
  padding: 10px;
  font-weight: 100;
  color: black;
}

.blog-post h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 25px; /*top right bottom left*/
  padding: 10px;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: x-large;
  width: 775px;
}

.blog-post p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 23px;
  display: block;
  margin: 5px;
  padding: 5px;
  font-weight: 100;
}

.blog-post ul {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px 10px;
}

.blog-post ul li {
  line-height: 20px !important;
  margin: 0px 5px;
  z-index: 3;
  width: fit-content;
}

.blog-post figure {
  margin: 20px 12px;
  padding: 15px;
  float: right;
  height: 360px;
}

.blog-post .scroller {
  padding: -10px 0px !important;
  margin: -25px 10px !important;
  height: 340px;
  overflow: auto;
  white-space: wrap;
}
.blog-post .scroller_img {
  background: transparent;
  height: fit-content;
  width: 240px;
}

.blog-post img .big {
  border: black 1px;
  height: 270px;
  width: auto;
}

img .small {
  height: 163px !important;
}

.ai-art_figure {
  position: relative;
  display: inline !important;
  border: none !important;
  width: fit-content !important;
  margin: 0px !important;
  padding: 0px !important;
  background: transparent !important;
}

figure.\.ai-art_figure img {
  height: 400px !important;
  width: auto !important;
}

figure.\.ai-art_figure figcaption {
  padding: 7px;
}

.blog-post figcaption {
  margin: 5px -5px 0px 0px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  display: block;
  width: fit-content;
}
.contains_dropbtn_intext p {
  display: inline !important;
  padding: 0px;
  margin: 0px;
}

.subpage-organization ul {
  float: right;
  margin: 0px 0px 0px 150px;
}

.subpage-organization ul li {
  display: inline-block;
  margin: 10px auto;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #ebddd2;
  border-radius: 10%;
  transition: all 1 ease-out;
}

.subpage-organization ul li:hover {
  background-color: #cbccce;
  color: #fff;
  text-shadow: 0.5px 0.5px 5px #ddb9b9, 0 0 0.2em white, 0 0 0em white;
}

.btn:hover {
  /*once I learn javascript, the hover will randomize between different colors*/
  background-image: url(./images/header-nav/button.webp); /*blue/gray: #7a8aa3 , pinkish white: #c6bcbb */
  background-size: cover;
  color: black;
  background-position: center;
  text-shadow: 0.1px 0.1px 0.2px black, 0 0 0.1em #a8c5f2, 0 0 0.1em #f3d5d3;
  cursor: pointer;
  transition: background-color 0.5s;
}

.dropbtn {
  background-color: #ebddd2;
  color: black;
  padding: 6px 23px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px black solid;
  box-shadow: 2px 2px 1px #496789;
  font-size: x-large;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-image: url(./images/header-nav/button.webp);
  background-size: cover;
  color: white;
  text-shadow: 0.5px 0.5px 5px #ddb9b9, 0 0 0.2em white, 0 0 0em white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: url(./images/header-nav/reflective\ water.webp);
  background-size: cover;
  min-width: 230px;
  max-width: fit-content;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(73, 103, 137, 0.2);
  z-index: 1;
}
.dropdown-content ul,
.dropdown-content ol {
  list-style: none;
  margin: 0px !important;
  padding: 0px;
  width: inherit;
  display: block;
}

.dropdown-content ul li {
  margin: 0px !important;
  padding: 0px !important;
  width: 230px !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-image: url(./images/header-nav/button.webp);
  background-size: cover;
  border-bottom: 1px #000 solid;
  border-top: 1px #000 solid;
  text-shadow: 0.1px 0.1px 5px #ddb9b9, 0 0 1px white, 0 0 0.1em white;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contains_dropbtn_intext {
  display: inline !important;
  padding: -10px;
  margin: -10px;
}

.dropbtn_intext {
  background: none !important;
  border: none !important;
  color: black;
  padding: 0px !important;
  font-size: 16px;
  text-decoration: none !important;
  border-radius: 5px;
}

.dropbtn_intext:hover {
  text-shadow: none !important;
}

.dropbtn_intext img {
  margin: 3px;
  height: 165px !important;
  width: auto !important;
  font-style: none !important;
}

.dropdown_intext {
  position: relative;
  display: inline-block;
  font-style: none !important;
}

.dropdown_intext:hover .dropbtn_intext {
  background-size: cover;
  text-shadow: 0.5px 0.5px 5px #ddb9b9, 0 0 0.2em white, 0 0 0em white;
}

.dropdown_intext-content {
  display: none;
  position: absolute;
  background-image: url(./images/header-nav/reflective\ water.webp);
  background-size: cover;
  min-width: 230px;
  max-width: fit-content;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(73, 103, 137, 0.2);
  z-index: 1;
}

.dropdown_intext-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_intext-content a:hover {
  background-image: url(./images/header-nav/button.webp);
  background-size: cover;
  border-bottom: 1px #000 solid;
  border-top: 1px #000 solid;
  text-shadow: 0.1px 0.1px 5px #ddb9b9, 0 0 1px white, 0 0 0.1em white;
  color: white;
}

.dropdown_intext:hover .dropdown_intext-content {
  display: block;
}

/*FOOTER AND ANKLE*/
.ankle {
  background: url(./images/ankle/charybdis-in-magic-tree-trunk.webp) no-repeat
    center; /* dark blue: #354660 , blue: #336195 , light blue: #9ec5e4 , grey: #343e4a*/
  background-size: 77vw;
  position: static;
  height: 45vw;
  text-align: left;
  background-attachment: fixed;
  z-index: 1;
}

.ankle .container {
  position: fixed;
  top: 25vw;
  right: 20vw;
}

.ankle h2,
.ankle p {
  color: #fff;
  margin: 7px 0 15px;
}

.ankle .btn {
  padding: calc(0.5px + 0.6vw) 2vw;

  margin: calc(3.5px + 0.15vw) 0;
  font-size: calc(5px + 0.7vw);
  border-radius: 5px;
  color: white;
}

.ankle .btn:hover {
  text-shadow: 0.5px 0.5px 5px #336195, 0 0 0.2em white, 0 0 0em white;
  background-color: #899db8;
}

footer {
  background-color: #000;
  height: 80px;
  padding-bottom: 40px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
  padding: 0px 15px;
}
footer a:hover {
  text-shadow: 0.5px 0.5px 5px #336195, 0 0 0.2em white, 0 0 0em white;
}

footer p {
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 80px;
  margin: 0;
}

footer p .up-arrow {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-decoration-color: black;
}
